body {
    /* background-color: #ffd8a8; */
    background-color: white;
}

/* Login */
.login-header {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}

#signin {
    margin-left: 60px;
}

#signinbtn {
    margin-left: 90px;
    margin-bottom: -165px;
}

#createbtn {
    margin-left: 95px;
}
.small-input {
    width: 250px;
}

.container-signin {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 275px;
    height: 330px;
}

.container-createacc {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 10px;
    width: 275px;
}

/* Games */
.leaderboard-button,
.leaderboard-button:hover,
.leaderboard-button:active,
.leaderboard-button:visited {
    /* background-color: #f8f9fa; */
    background-color: #0dcaf0;

    --bs-btn-active-color: black;
    /* --bs-btn-active-bg: #f8f9fa; */
    --bs-btn-active-bg: #0dcaf0;
}

.btn-check:checked + .btn,
.btn-active,
.btn-show {
    color: #0dcaf0;
}

/* .btn-primary {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #0db8da;
    border-color: #0db8da;
} */
