/* Website Fade-In */

body {
    max-width: 100%;
    overflow-x: hidden;
    opacity: 0;
    transition: opacity 0.75s;
}

html {
    background: linear-gradient(180deg, rgb(13, 202, 240), palegreen);
    height: 100%;
}

body {
    /* background-color: #ffd8a8; */
    background-color: white;
    font-family: "Lilita One", sans-serif;
    background: linear-gradient(180deg, rgb(13, 202, 240), palegreen);
    min-height: 100%;
}

/* Login */
.login-header {
    background-color: rgb(253, 169, 139);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}

#signinbtn {
    margin-left: 90px;
    margin-bottom: -165px;
}

#welcome-message {
    margin-top: -30px;
}

#invalid-message {
    margin-top: -8px;
}

#create-btn {
    margin-left: 95px;
}
.small-input {
    width: 250px;
}

.container-signin {
    background-color: rgba(253, 169, 139, 0);
    padding: 10px;
    border-radius: 10px;
    width: 275px;
    height: 330px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-createacc {
    background-color: rgba(253, 169, 139, 0);
    padding: 10px;
    border-radius: 10px;
    width: 275px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#category-name {
    background-color: rgba(255, 127, 80, 1);
    border-radius: 10px;
    padding: 3px;
}

.transparent-rectangle {
    background-color: rgba(255, 127, 80, 0.9);
    border-radius: 10px;
    border: 1px solid white;
}

.question-block {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}

/* Games */
/* .leaderboard-button,
.leaderboard-button:hover,
.leaderboard-button:active,
.leaderboard-button:visited { */
/* background-color: #f8f9fa; */
/* background-color: #0dcaf0; */

/* --bs-btn-active-color: black; */
/* --bs-btn-active-bg: #f8f9fa; */
/* --bs-btn-active-bg: #0dcaf0; */
/* } */

.btn-check:checked + .btn,
.btn-active,
.btn-show {
    color: rgb(201, 107, 1);
}

/* .btn-primary {
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #0db8da;
    border-color: #0db8da;
} */

/*
* {
    font-weight: 600;
}
*/

form dotlottie-player {
    display: none;
}

.animation-visible {
    margin: auto;
    display: block;
}

.btn-check[disabled] + .btn {
    cursor: not-allowed;
    pointer-events: all;
}

#triviaModal .modal-body,
#triviaModal .modal-header {
    text-transform: capitalize;
    /* margin: auto; */
    text-align: center;
}
